* text=auto eol=lf

/.github            export-ignore
/tests              export-ignore
/.cs.php            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/CONTRIBUTING.md    export-ignore
/phpcs.xml          export-ignore
/phpstan.neon       export-ignore
/phpunit.v9.xml     export-ignore
/phpunit.xml        export-ignore
